@import url("https://fonts.googleapis.com/css?family=Questrial&display=swap");

* {
    box-sizing: border-box;
}

body {
    font-family: "Questrial", sans-serif;
    background-color: rgb(250, 79, 79);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: 100vh;
    margin: 0;
}

h1 {
    color: #fff;
}

/* video screen*/
.screen {
    cursor: pointer;
    width: 60%;
    height: 80vh;
    background-color: #000 !important;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/* 조작 박스*/
.controls {
    background: #333;
    width: 60%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.controls .btn {
    border: none;
    background: transparent; /* 버튼의 배경을 없애고 버튼 아이콘만 보이고 싶을 때 */
    cursor: pointer;
}

.controls .fa-play {
    color: #28a745;
}

.controls .fa-stop {
    color: #dc3545;
}

/* js 에서 조작 */
.controls .fa-pause {
    color: #fff;
}

.controls .timestamp {
    color: #fff;
    font-weight: bold;
    margin-left: 10px;
}

.btn:focus {
    outline: none;
}

@media (max-width: 800px) {
    .screen,
    .controls {
        width: 90%;
    }
}
